@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body text-body selection:bg-primary-fixed selection:text-primary min-h-screen;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
  
  .auth-card {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-input {
    transition: border-width 0.1s ease-in-out, ring 0.1s ease-in-out;
  }
  
  .btn-interact:active {
    transform: scale(0.98);
  }
}
