@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=block');

  body {
    @apply bg-background text-on-background font-body text-body selection:bg-primary-fixed selection:text-primary min-h-screen;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
  
  .auth-card {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-input {
    transition: border-width 0.1s ease-in-out, ring 0.1s ease-in-out;
  }
  
  .btn-interact:active {
    transform: scale(0.98);
  }
}
